 /* Custom styles */
 .hero-section {
  background-image: url('../img/banner.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 80px 0;
  height: 700px;
}
.search-bar {
  max-width: 600px;
  margin: 20px auto;
}
.tab-content {
  padding-top: 30px;
}
.icon-box {
  display: flex;
  align-items: start;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}
.icon-box .icon {
  font-size: 24px;
  margin-right: 10px;
}
.footer {
  background-color: #f8f9fa;
  padding: 40px 0;
}
.bg-light{
    /* height: 170px; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, #000, #00000000);
}
.justify-content-center {
justify-content: center !important;
border: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: var(--bs-nav-tabs-link-active-color);
background-color: var(--bs-nav-tabs-link-active-bg);
border-left: 0px;
border-top: 0px;
border-right: 0px;
border-color: #000000;
}
.hero-section{
line-height: 30px;
}
.hero-text{
margin-top: 10%;
}
h1>strong{
font-size: 2em;
}